<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/modal.css" >
</head>
<body>
<h1>Todo List</h1>
<ul>
    <li th:each="todo : ${todos}">
        <span th:text="${todo.id}"></span> - <span th:text="${todo.description}"></span>
        <button type="button" class="btn btn-primary" data-toggle="modal" th:data-target="'#editModal' + ${todo.id}">
            Edit
        </button>
        <button type="button" class="btn btn-danger" data-toggle="modal" th:data-target="'#deleteModal' + ${todo.id}">
            Delete
        </button>
    </li>
</ul>
<!-- Edit Modal -->
<!--<div id="editModal1" class="modal">-->
<!--    <div class="modal-content">-->
<!--        <span class="close">&times;</span>-->
<!--        <input type="hidden" id="edit-todo-id">-->
<!--        <label for="edit-todo-title">Title:</label>-->
<!--        <input type="text" id="edit-todo-title">-->
<!--        <label for="edit-todo-description">Description:</label>-->
<!--        <input type="text" id="edit-todo-description">-->
<!--        <button id="save-edit-button">Save</button>-->
<!--    </div>-->
<!--</div>-->

<!--<script>-->
<!--    // JavaScript to populate the edit modal with todo data-->
<!--    $('.edit-button').click(function() {-->
<!--        console.log("HId ");-->
<!--        var todoId = $(this).data('todo-id');-->
<!--        var todoTitle = $(this).data('todo-title');-->
<!--        var todoDescription = $(this).data('todo-description');-->

<!--        // Populate modal input fields with todo data-->
<!--        $('#edit-todo-id').val(todoId);-->
<!--        $('#edit-todo-title').val(todoTitle);-->
<!--        $('#edit-todo-description').val(todoDescription);-->

<!--        // Show the modal-->
<!--        $('#editModal1').show();-->
<!--    });-->
<!--</script>-->
<!-- Edit Modal -->
<div class="modal fade" th:id="editModal1" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Todo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Add form fields for editing todo -->
                <!-- Example: -->
                <form action="/todos" method="post">
<!--                    <input type="hidden" name="id" th:value="${todo.id}">-->
                    <label for="editTitle">Title:</label>
                    <input type="text" id="editTitle" name="title" th:value="${todo.title}">
                    <label for="editDescription">Description:</label>
                    <textarea id="editDescription" name="description" rows="4" th:text="${todo.description}"></textarea>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--&lt;!&ndash; Delete Modal &ndash;&gt;-->
<!--<div class="modal fade" th:id="'deleteModal' + ${todo.id}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"-->
<!--     aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                Are you sure you want to delete this todo?-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>-->
<!--                <form action="/todos/${todo.id}" method="post">-->
<!--                    <input type="hidden" name="_method" value="delete">-->
<!--                    <button type="submit" class="btn btn-danger">Yes</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- Include Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
