<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Todo</title>
    <link rel="stylesheet" href="../static/styles/indexStyle.css">
    <style>
        body {
        background-color: #003950;
        }

        #add-task-button {
            
        }
        #theme-toggle-container {
        height: 50px;
        }

        #content-container {
        background-color: #0000004d;
        width: 90%;
        margin: 5%;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="theme-toggle-container" id="theme-toggle-container">
     <div class="add-task-button" id="add-task-button">
         Add Task
     </div>
    </div>

    <div class="content-container" id="content-container">
        This is content Container
    </div>

</div>

</body>
</html>
